{{> navbar}}
<div class="container mt-3">
  <div class="d-flex align-items-center gap-3">
    <img
      class="img-thumbnail"
      src="https://avatars.githubusercontent.com/u/24981925?s=400&u=35ba93db3ee76df03ae1e05f0618ee2c745461d4"
      alt="User"
      width="250"
    >
    <div class="">
      <h2 class="text-info">Hello, I'm Aedel Darkonnen</h2>
      <p>
        I'm a super software engineer at Google
      </p>
    </div>
  </div>
  {{> backhome}}
</div>