<nav class="navbar navbar-dark bg-dark">
  <div class="container d-flex justify-content-between">
    <a href="/" class="text-decoration-none">
      <span class="navbar-brand mb-0 h1">Famous quotes</span>
    </a>
    <a href="/quotes/create">
      <button class="btn btn-outline-light btn-sm">
        <i class="fas fa-plus"></i>
        Create quote
      </button>
    </a>
  </div>
</nav>